@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-white;
}
.main-shelf-container {
  width: calc(100% - 4rem);
  @apply relative float-right;
}
/* Webkit (Safari/Chrome) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Webkit (Safari/Chrome) - Track */
::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the track */
}

/* Webkit (Safari/Chrome) - Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
  border-radius: 4px; /* Round the corners of the scrollbar handle */
}
